<%= form_for @mixtape, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <h3>Upload a Song</h3>
  <%= fields_for 'songs', Song.new, :index => 0 do |s| %>
    <%= render 'songs/fields', :f => s %>
  <% end %>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mixtapes_path, :class => 'btn' %>
  </div>
<% end %>
