<%= form_for(@mixtape) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <select name="mixtape[songs_to_add_by_song_id][]" multiple='multiple'>
    <% Song.all.each do |song| %>
      <option value="<%= song.id %>"><%= song.name%></option>
    <% end %>
  </select>  

  
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>

