<%= form_for(@song) do |f| %>
  
  <div class="field">
    <%= f.label :name %>  <br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :artist_name %>  <br />
    <%= f.text_field :artist_name %>
  </div>

  <% all_genres.each do |genre| %>
    <%= genre.name %> 
    
    <%= check_box_tag('song[genre_names][]', genre.name, @song.genres.include?(genre)) %>
    
  <% end %>  
  
  
  Other: <input type="text" name="genre_names[]">
  
  <%= f.submit %>
<% end %>